<h1 style="color:white;font-size:50px;text-align:center;margin-top: 15%; background-color:brown;">Greetings Pierre! It's a pleasure to 'see' you!</h1>
<h2 style= "text-align:left;max-width:200px;"><a href='/vendors'>View Vendors</a></h2>
@{
  Layout = "_Layout";
}
<body style ="background-image: url(https://images.unsplash.com/photo-1587241321921-91a834d6d191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80); background-repeat:no-repeat; background-size: cover;">
</body>